{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'todolist/style.css' %}">
    <title>TodoList App</title>
</head>

<body>
    <div class="container-md mt-5 p-5">
        <h1 class="m-3 font-weight-normal">What to do today</h1>
        <form action="{% url 'add' %}" method="post" role="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group m-3">
                    {{ form.text }}   
                    <span class="input-group-append mr-4">
                        <button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
                    </span>
                </div>
            </div>
        </form>
        <div class="m-3 mb-4">
            <button type="button" class="btn btn-warning text-light">
                <span class="feather" data-feather="trash-2"></span> DELETE COMPLETED
            </button>
            <button type="button" class="btn btn-danger">
                <span class="feather" data-feather="trash-2"></span> DELETE ALL
            </button>
        </div>
        <ul class="list-group m-3 mr-2">
            {% for todolist in Todo_items %}
                {% if todolist.completed %}
                    <li class="list-group-item todo-completed">{{todolist.text}}</li>
                {% else %}
                    <li class="list-group-item"><a href="{% url 'completed' todolist.id %}">{{todolist.text}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <footer class="text-center mt-5 text-white">Copyright &copy; Alin Babu 2020</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>feather.replace()</script>
</body>

</html>