body {
    background-color: #3689e9;
}

.container-md {
    background-color: #f7fd9b;
}

.feather {
    width: 20px;
    height: 20px;
    vertical-align: text-top;
}

div li.todo-completed {
    background-color: #ccd181;
    text-decoration: line-through;
    font-weight: 500;
}

li a {
    color: #257258;
    font-weight: 500;
}
li a:hover{
    color: #11523c;
}